
Biblioteca/obj/project.nuget.cache
Biblioteca/obj/project.assets.json
Biblioteca/obj/Debug/net6.0-windows/Biblioteca.GeneratedMSBuildEditorConfig.editorconfig
Biblioteca/obj/Debug/net6.0-windows/Biblioteca.assets.cache
Biblioteca/obj/Biblioteca.csproj.nuget.g.props
Biblioteca/obj/Biblioteca.csproj.nuget.dgspec.json
Biblioteca/.vs/Biblioteca/v17/.suo
Biblioteca/.vs/Biblioteca/FileContentIndex/e21dc91b-7972-4bc9-881f-d745ae03c171.vsidx
Biblioteca/.vs/Biblioteca/FileContentIndex/b6068517-5609-48fe-a8bb-4f57f16573fa.vsidx
Biblioteca/.vs/Biblioteca/FileContentIndex/58d9c4ac-31bc-47b2-b4d4-a630a9044e7a.vsidx
Biblioteca/.vs/Biblioteca/FileContentIndex/440ddf01-5f43-47fd-a651-4c6bf1d454ae.vsidx
Biblioteca/.vs/Biblioteca/FileContentIndex/e21dc91b-7972-4bc9-881f-d745ae03c171.vsidx
Biblioteca/.vs/Biblioteca/v17/.suo
Biblioteca/obj/Biblioteca.csproj.nuget.dgspec.json
Biblioteca/obj/Biblioteca.csproj.nuget.g.props
Biblioteca/obj/Debug/net6.0-windows/Biblioteca.assets.cache
Biblioteca/obj/Debug/net6.0-windows/Biblioteca.GeneratedMSBuildEditorConfig.editorconfig
Biblioteca/obj/project.assets.json
Biblioteca/obj/project.nuget.cache
Biblioteca/obj/project.nuget.cache
Biblioteca/obj/project.assets.json
Biblioteca/.vs/Biblioteca/DesignTimeBuild/.dtbcache.v2
Biblioteca/.vs/Biblioteca/FileContentIndex/440ddf01-5f43-47fd-a651-4c6bf1d454ae.vsidx
Biblioteca/.vs/Biblioteca/FileContentIndex/e21dc91b-7972-4bc9-881f-d745ae03c171.vsidx
Biblioteca/.vs/Biblioteca/v17/.futdcache.v2
Biblioteca/.vs/Biblioteca/v17/.suo
Biblioteca/.vs/ProjectEvaluation/biblioteca.metadata.v6.1
Biblioteca/.vs/ProjectEvaluation/biblioteca.projects.v6.1
Biblioteca/obj/Biblioteca.csproj.nuget.dgspec.json
Biblioteca/obj/Biblioteca.csproj.nuget.g.props
Biblioteca/obj/Debug/net6.0-windows/Biblioteca.assets.cache
Biblioteca/obj/Debug/net6.0-windows/Biblioteca.GeneratedMSBuildEditorConfig.editorconfig
Biblioteca/obj/project.assets.json
Biblioteca/obj/project.nuget.cache
